<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Compromisso</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBosIiBvB2RxNEmFunciANWhcqsi-U4mrI&libraries=places"></script>
</head>
<body>
    <h1>Cadastrar Compromisso</h1>
    <form action="/tempo-viagem" method="get">

      <label for="titulo">Título do Compromisso:</label>
      <input type="text" id="titulo" name="titulo" placeholder="Título do Compromisso">
        <br><br>
        <label for="origem">Origem:</label>
        <input type="text" id="origem" name="origem" placeholder="Origem" autocomplete="off">
        <br><br>
        <label for="destino">Destino:</label>
        <input type="text" id="destino" name="destino" placeholder="Destino" autocomplete="off">
        <br><br>
        <label for="hora">Hora:</label>
        <input type="number" id="hora" name="hora" min="0" max="23" placeholder="Hora">
        <br><br>
        <label for="minuto">Minuto:</label>
        <input type="number" id="minuto" name="minuto" min="0" max="59" placeholder="Minuto">
        <br><br>
        <button type="submit">Salvar compromisso</button>
    </form>

    <script>
        function enableAutocomplete() {
            const origemInput = document.getElementById('origem');
            const destinoInput = document.getElementById('destino');

            const autocompleteOrigem = new google.maps.places.Autocomplete(origemInput);
            const autocompleteDestino = new google.maps.places.Autocomplete(destinoInput);
        }

        window.onload = enableAutocomplete;
    </script>
</body>
</html>
